<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="icon" href="P.ico"> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Refresh" content="10">
    <title>Pro3</title>
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
  </head>
  
  <body>
    <div class="container">
      <div class="page-header">
        <h1>  Programming3  <small><Div Align="right">Group6  　　田中　玉城　吉田</div></small></h1>
      </div> 
    
    <div class="row">
      <div class="col-7 col-sm-7 col-lg-7">
        <h2>BBS</h2>              
        <div style="max-height:370px; overflow:auto;">
          <div data-spy="scroll" data-target="#navbarExample" data-offset="0" class="scrollspy-example">
            <ul>
              <% @comments.each do |comment| %>
                <% if comment.body.nil? then %>
                  <% break %>
                <% else %>
                  <li data-id="<%= comment.id %>">
                  <%= comment.body %>
                <span class="deleteCmd">
                  <a href="#" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-minus-sign"></i> delete</a>
                </span><hr>
                <% end %>
                </li>
	      <% end %>
            </ul>
          </div>
        </div>
      </div><!--/span-->
      
      <script type="text/javascript">
        function addTF()
        {
          document.faceForm.test.value += "　　by <%= @write_user %>";
        }
      </script> 

      <div class="col-5 col-sm-5 col-lg-5">
        <div class ="visible-xs"><hr></div>
        <h2>Add_text</h2>
        <form name="faceForm" method="post" action="/new">
    	  <div class="form-group">
      	    <label class="control-label" for="comment" >comment</label>
      	    <input type="text" name="test" class="form-control" placeholder="your comment">
    	  </div>
    	  <div class="form-group">
      	    <input type="submit" value="post" onClick="addTF()" class="btn btn-primary">
    	  </div>
  	</form>
	
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>
          $('.deleteCmd').click(function() {
            var el = $(this).parent();
            if (confirm('are you sure to delte?')) {
              $.post('/delete', {
                id: el.data('id')
                }, function() {
                el.fadeOut(800);
              });
            }
          })
        </script>
        
      </div><!--/span-->
      <div class="col-12 col-sm-12 col-lg-12">
        <hr>
        <h2>follower</h2>

        <div class="col-7 col-sm-7 col-lg-7">
        <div style="max-height:370px; overflow:auto;">
          <div data-spy="scroll" data-target="#navbarExample" data-offset="0" class="scro\
llspy-example">
           <ul>
              <% @followers.each do |follower| %>
                <% if @write_user == follower.username then %>
                  <li data-id="<%= follower.id %>">
                  <%= follower.follower %>
                  <hr>
                <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <!--serarchボタンの場所だよ__add_textを追加する場所をコピペしたので変数とか書き換えてください-->
      <div class="col-5 col-sm-5 col-lg-5">
        <form name="searchForm" method="post" action="/usearch">
          <div class="form-group">
            <label class="control-label" for="comment" >user search</label>
            <input type="text" name="test" class="form-control" placeholder="your_followe\
r">
          </div>
          <div class="form-group">
            <input type="submit" value="search"  class="btn btn-primary">
          </div>
        </form>

      </div>
        
      </div><!--/span-->
      <div class="col-12 col-sm-12 col-lg-12">
        <hr>
        <h2>links</h2>
<p><A Href="http://ie.u-ryukyu.ac.jp/programming3/">プログラミング３・４（旧UNIX実験）</A></p>
<p><A Href="http://http://getbootstrap.com/">Bootstrap</A></p>
<p><A Href="http://glyphicons.com/">glyphicons</A></p>
	</div><!--/span-->
    </div><!--/row-->
    <hr>
</div><!--/container-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>



</div>
</body>
</html>
<!-- -->
